<ng-container *ngIf="positions$ | async as positionsRequest">
  <ng-container *ngIf="positionsRequest.value as positions">
    <table *ngIf="positions.length" id="alpaca-positions-table">
      <thead>
        <th>Symbol</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Change Today</th>
      </thead>
      <tbody>
        <tr *ngFor="let position of positions" class="alpaca-position">
          <td>{{ position.symbol }}</td>
          <td>{{ position.qty }}</td>
          <td>{{ position.current_price }}</td>
          <td>{{ position.change_today | percent : "1.2" }}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>
  <div
    *ngIf="positionsRequest.isLoading"
    id="alpaca-table-loading"
    class="spinner-border"
    role="status"
  >
    <span class="visually-hidden">Loading...</span>
  </div>
  <app-error *ngIf="positionsRequest.error as error" [error]="error">
  </app-error>
</ng-container>
