<ng-container *ngIf="directions$ | async as directions">
  <app-directions-form
    [directionsLoading]="directions.isLoading"
  ></app-directions-form>
  <hr />
  <app-error *ngIf="directions.error" [error]="directions.error"></app-error>
  <ng-container *ngIf="directions.value as value">
    <ng-container *ngIf="value.error_message; else appDirections">
      <p class="text-danger">
        Google Maps Api Error: {{ value.error_message }}
      </p>
    </ng-container>
    <ng-template #appDirections>
      <app-directions-display
        *ngIf="value.routes as routes"
        [route]="value.routes[0]"
      ></app-directions-display>
    </ng-template>
  </ng-container>
</ng-container>
