<div class="col-md-6">
  <form (ngSubmit)="onSubmit()" [formGroup]="directionRequestForm">
    <div class="mb-3">
      <label for="originFormControlInput" class="form-label">Origin</label>
      <input
        formControlName="origin"
        id="originFormControlInput"
        type="text"
        class="form-control"
        placeholder="Laramie, WY"
      />
      <p
        class="text-danger mt-1"
        *ngIf="
          directionRequestForm.get('origin')?.invalid &&
          (directionRequestForm.get('origin')?.touched ||
            directionRequestForm.get('origin')?.dirty)
        "
      >
        Origin is required.
      </p>
    </div>
    <div class="mb-3">
      <label for="destinationFormControlInput" class="form-label"
        >Destination</label
      >
      <input
        formControlName="destination"
        id="destinationFormControlInput"
        type="text"
        class="form-control"
        placeholder="Fort Collins, CO"
      />
      <p
        class="text-danger mt-1"
        *ngIf="
          directionRequestForm.get('destination')?.invalid &&
          (directionRequestForm.get('destination')?.touched ||
            directionRequestForm.get('destination')?.dirty)
        "
      >
        Destination is required.
      </p>
    </div>
    <div class="div">
      <div
        *ngIf="directionsLoading$ | async; else submitButton"
        class="spinner-border"
        role="status"
      >
        <span class="visually-hidden">Loading...</span>
      </div>
      <ng-template #submitButton>
        <button
          *ngIf="directionRequestForm.valid"
          type="submit"
          class="btn btn-success"
        >
          Get Directions
        </button>
      </ng-template>
    </div>
  </form>
</div>
