<ng-container
  *ngIf="accountStatePoll$ | async as accountState; else somethingWentWrong"
>
  <ng-container *ngIf="accountState.isLoading">
    <div id="account-state-loading">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </ng-container>
  <app-error
    id="account-state-error"
    *ngIf="accountState.error"
    [error]="accountState.error"
  >
  </app-error>
  <div *ngIf="accountState.value as accountAbout">
    <div id="account-state-value" class="row">
      <div class="col-sm-4 d-flex justify-content-center">
        <div style="width: fit-content">
          <small class="text-muted">Equity</small>
          <h1 id="user-equity">
            {{ accountAbout.equity | currency }}
          </h1>
        </div>
      </div>

      <div class="col-sm-4 d-flex justify-content-center">
        <div style="width: fit-content">
          <small class="text-muted">Buying Power</small>
          <h1 id="user-buying-power">
            {{ accountAbout.buying_power | currency }}
          </h1>
        </div>
      </div>

      <div class="col-sm-4 d-flex justify-content-center">
        <div style="width: fit-content">
          <small class="text-muted">Cash</small>
          <h1 id="user-cash">{{ accountAbout.cash | currency }}</h1>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #somethingWentWrong>
  <p id="account-state-something-went-wrong" class="text-danger">
    Something went wrong.
  </p>
</ng-template>
