<h1 id="alpaca-dashboard-title">Dashboard</h1>
<!--
  Hierarchy:
  loading
  error
  value
 -->
<ng-container *ngIf="accountState$ | async as accountState">
  <ng-container *ngIf="accountState.isLoading">
    <div id="account-state-loading">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="accountState.error">
    <div id="account-state-error">
      <p class="text-danger">Error: Something went wrong.</p>
    </div>
  </ng-container>
  <ng-container *ngIf="accountState.value">
    <div id="account-state-value">
      <!-- <p id="user-equity">EQUITY {{ 4867.98 | currency }}</p>
    <p id="user-buying-power">BUYING POWER {{ 4867.98 | currency }}</p>
    <p id="user-cash">CASH {{ 4867.98 | currency }}</p> -->
    </div>
  </ng-container>
</ng-container>
