<h1 id="alpaca-dashboard-title">Dashboard</h1>
<!--
  Hierarchy:
  loading
  error
  value
 -->
<ng-container
  *ngIf="accountState$ | async as accountState; else somethingWentWrong"
>
  <ng-container *ngIf="accountState.isLoading">
    <div id="account-state-loading">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="accountState.error">
    <div id="account-state-error">
      <p class="text-danger">Error: Something went wrong.</p>
    </div>
  </ng-container>
  <ng-container *ngIf="accountState.value as accountAbout">
    <div id="account-state-value">
      <p id="user-equity">
        EQUITY
        {{ accountAbout.equity | currency }}
      </p>
      <p id="user-buying-power">
        BUYING POWER {{ accountAbout.buying_power | currency }}
      </p>
      <p id="user-cash">CASH {{ accountAbout.cash | currency }}</p>
    </div>
  </ng-container>
</ng-container>
<ng-template #somethingWentWrong>
  <p id="account-state-something-went-wrong" class="text-danger">
    Something went wrong.
  </p>
</ng-template>
